<!DOCTYPE html>
<html lang="en">
<head>
    <title>Display Data</title>
    <style>
        body{
            background-color: black;
            color: white;
        }
    </style>
</head>
<body>
    <h1>Display Data</h1>

        <ul>
            {% for item in data %}
                <li>{{item.name}}  - age: {{item.age}}</li>
            {% endfor %}
        </ul>
                            
    </ul>
</body>
</html>