<!DOCTYPE html>
<html lang="en">
<head>
    <title>OpenStreetMap with Flask</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
    </style>
</head>
<body>
    <h1>Display Data</h1>
    <ul>
        {% for item in data %}
            <li>{{item}}</li>
        {% endfor %}    
    </ul>
    <div id="map" style="width: 100%; height: 600px;"></div>
    <script>
     //   var map = L.map('map').setView([8.4875, 76.9497],12); // Greenfield Stadium, Trivandrum coordinates

    //    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',   {
      //      maxZoom: 19,
        //    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        //}).addTo(map);

      //  L.marker([8.4875, 76.9497]).addTo(map)
        //.bindPopup('Greenfield Stadium, Trivandrum')
        //.openPopup();
        //L.marker([8.5154, 76.8977]).addTo(map)
        //.bindPopup('<p>{{response}}</p>')
        //.openPopup();
        //L.marker([8.4375, 76.9497]).addTo(map)
        //.bindPopup('Railway')
        //.openPopup();
        var map = L.map('map').setView([8.4875, 76.9497], 12);

       L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
           maxZoom: 19
       }).addTo(map);


       var marker = L.marker([8.4875, 76.9497]).addTo(map);

       // Create a popup for the marker
       var popup = L.popup();

       marker.bindPopup(popup);

       marker.on('click', function(e) {
           fetchDataAndDisplay(popup);
       });

       function fetchDataAndDisplay(popup) {
           // Use AJAX to fetch data from the ChirpStack API and display it in the popup
           fetch('/api/chirpstack-data')
               .then(response => response.json())
               .then(data => {
                   // Set the content of the popup with the fetched data
                   popup.setContent(JSON.stringify(data, null, 2));
               })
               .catch(error => console.error(error));
       }
    </script>
</body>
</html>
