{% extends "base.html" %} {% block content %}
<h1>Todo list</h1>
<ul>
    {% for todo in todos %}
    <li>
        {{ todo.title }}: {% if todo.completed %}Completed{% else %}Not Completed{% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}